@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  @font-face {
    font-family: "FTMilky";
    src: url(../../public/font/FTMilkyRegular.ttf);
    font-weight: 400;
  };
  @font-face {
    font-family: "FTMilky";
    src: url(../../public/font/FTMilkySemibold.ttf);
    font-weight: 600;
  };
  @font-face {
    font-family: "FTMilky";
    src: url(../../public/font/FTMilkyBold.ttf);
    font-weight: 700;
  };
  @font-face {
    font-family: "FTMilky";
    src: url(../../public/font/FTMilkyBlack.ttf);
    font-weight: 900;
  };
  @font-face {
    font-family: "Inter";
    src: url(../../public/font/Inter-Regular.ttf);
    font-weight: 400;
  };
  @font-face {
    font-family: "Inter";
    src: url(../../public/font/Inter-Medium.ttf);
    font-weight: 500;
  };
}


